/* CSS for AuthorsGrid component */

h3[b-a2i0jozsh5]{
    font-size: 30pt;
    color: red;
    background: #eeeeee
}

[b-a2i0jozsh5] table {
    min-width: 100%
}

[b-a2i0jozsh5] thead{
    background-color: #DDFFDD;
}

[b-a2i0jozsh5] tr{
    border-bottom: 0.5px solid silver;
}

deep tbody td[b-a2i0jozsh5]{
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    max-overflow: ellipsis;
}

[b-a2i0jozsh5] tbody tr{
    background-color: rgba(0,0,0,0.04);
}

[b-a2i0jozsh5] tbody tr:child(odd){
    background: rgba(255,255,255,0.4);
}