/* CSS for Sample07 component */
dl[b-vj6n3958vz]{
}
dl dt[b-vj6n3958vz]{
    float: left;
}

dl dd[b-vj6n3958vz]{
    margin-left: 150px;
}

[b-vj6n3958vz] table{
    min-width:100%;
}

[b-vj6n3958vz] thead{
    background-color: #DDFFDD;
}

[b-vj6n3958vz] tr{
    border-botton: 0.5px solid silver;
}

[b-vj6n3958vz] tbody td{
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}

[b-vj6n3958vz] tbody tr{
    background-color: rgba(0,0,0,0.04);
}

[b-vj6n3958vz] tbody tr:nth-child(odd){
    background: rgba(255,255,255,0.4)
}